body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    text-align: center;
    font-size: 1.8em;
}

.about-main{
    width: 50%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 20px;
}

.about-us {
  margin: auto;
  padding: 25px 25px 40px 25px;
  text-align: left;
  font-size: 18px;
  width: 80%;
  line-height: 1.3em;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  padding-top: 10px;
  margin: auto;
  width: 90%;
}

.names {
  font-size: 16px;
}

.majors {
  font-size: 14px;
}

h5 {
  font-weight: 400;
}

.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card {
    width: 50%;
    font-size: 14px;
    padding-bottom: 50px;
}

.card-details p {
  margin-bottom: -10px;
}

.headshots {
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    height: 120px;
    background: #E5EEFE;
    border-radius: 100px;
    transition: all .15s ease-in-out;
}

.headshots:hover {
  transform: scale(1.1);
}
