body {
    height: 100%;
    width: 99%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.about--main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #F0F0F0;
    box-sizing: border-box;

}

.project--leads {
    width: 100%;
    height: auto;
}

.project--leads p{
    width: 196px;
    height: auto;
    font-size: 32px;
    line-height: 30px;
    margin-left: 550px;
}

.project--leads--imgs {
    width: 50vw;
    height: 25vh;
    display: flex;
    margin-left: 300px;
    justify-content: space-evenly
}

.project--leads--imgs img {
    width: 200px;
    height: 200px;
    margin-top: 26px;
    background: #E5EEFE;
    border-radius: 100px;

}

.analysts {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.analysts p{
    width: 196px;
    height: 37px;
    font-size: 32px;
    line-height: 30px;
    margin-left: 550px;

}

.analysts--imgs {
    width: 50vw;
    height: auto;
    display: flex;
    margin-left: 300px;
    justify-content: space-evenly;
}

.analysts--imgs img {
    width: 200px;
    height: 200px;
    margin-top: 26px;
    background: #E5EEFE;
    border-radius: 100px;
    
   
}