footer {
    font-weight: bold;
    height: 110px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #F0F0F0;
    align-items: center;
}

.footer--title{
    margin-left: 30px;
    width: auto;
    font-size: 1.5em;
}

.footer--details {
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.key--links {
     width: auto;
     display: flex;
     font-size: 0.8em;
     flex-direction: column;
     margin-left: 30px;
}

.links-header {
  line-height: 1.7em;
}
