footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
    padding-bottom: 15px;
    justify-content: center;
    font-size: 13px;
    color: black;
}

.footer-section {
  display: inline-block;
  margin-right: 20px;
}

.socials {
  height: 20px;
  margin-left: 5px;
}
