footer {
    font-weight: bold;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: #E5EEFE;
    align-items: center;
}

.footer--title{
    padding-left: 15px;
    width: auto;
    font-size: 1.5em;
}

.footer--details {
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.key--links {
     width: auto;
     display: flex;
     font-size: 0.8em;
     flex-direction: column;
     padding-left: 30px;
}

.link-header {
  margin-bottom: 5px;
}
