header {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Karla';
    font-weight: bold;
    height: 10vh;
    left: 0px;
    top: 0px;
    border-bottom: 3px solid #F0F0F0;
    box-sizing: border-box;
}

.header--title{
    width: 30vw;  
    font-size: 1.5em;   
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.header--title p {
    width: 332.54px;
    height: 40.6px;
    margin-left: 10px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 22px;

}


.header--logo img{
    width: 70px;
    height: 60px;
    border-radius: 30px;
    margin-top: 20px;
}


.header--menu {
    display: flex;
    justify-content: flex-end ;
    width: 90vw;
    flex-direction: row;
    margin-right: 20px;
}


.home {
    width: 10%;
    height: 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 75px;
    text-decoration-line: underline;
}


.research {
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 75px;
    text-decoration-line: underline;
}

.data{
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 75px;
    text-decoration-line: underline;
}

.about {
    width: 6%;
    height: 100%;
    text-align: center; 
    font-size: 22px;
    line-height: 75px;
    text-decoration-line: underline;

}

