* {
  box-sizing: border-box;
  font-family: 'Karla';
}

body {
    height: 100%;
    width: 99%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.body--introduction {
    margin-top: 1px;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body--content {
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    border-bottom: 3px solid #F0F0F0;
}

.body--introduction--pic {
    position: relative;
    right: 170px;
}

.body--introduction--pic img{
    width: 300px;
    border-radius: 200px;
    height: 200px;
    margin-left: 250px;

}

.body--content--main img{
    width: 300px;
    border-radius: 200px;
    height: 100%;
    margin-left: 80px;
    position: relative;

}

.body--introduction--text {
    width: 50%;
    height: auto;
 
}


.body--content--main {
    width: 600px;
    height: auto;
  
}

.body--content--faq {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.accordion {
    background-color: #E5EEFE;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    border-radius: 20px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 25px;
    height: auto;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: visible;
    margin-left: 25px;
    width: 84.25%;
    height: auto;
  }

  .right--arrow {
    content: "\2192";
}
