* {
  box-sizing: border-box;
  font-family: 'Karla';
}

@keyframes init-fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

html {
  scroll-behavior: smooth;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.hyperlink {
  transition: transform 200ms, opacity 400ms;
}

.hyperlink:hover {
  transform: translateY(-1px);

  opacity: 0;
}

.body--introduction {
    height: 75vh;
    margin: auto;
    padding-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: init-fade 1.5s linear;
}

.body--introduction--pic {
    margin-right: 100px;
}

.body--introduction--pic > img {
    width: 100%;

}

.body--content--pic img{
    width: 350px;
    border-radius: 200px;
    height: 100%;
    margin-left: 200px
}

.body--introduction--text {
  padding-top: 60px;
  width: 45%;
}

.sub-header {
  font-size: 1.8em;
  font-weight: bold;
}

.sub-header, .intro-description, .shortcut {
  margin-left: 20px;
}

.intro-description {
  font-size: 1.2em;
}

.shortcut {
  font-size: 1em;
  text-decoration: none;
}

.body--content {
  margin: auto;
  width: 95%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.body--content--main {
    width: 50vw;
    height: auto;

}

.body--content--faq {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;

}

.accordion {
    background-color: #E5EEFE;
    cursor: pointer;
    padding: 15px;
    width: 90%;
    border: none;
    border-radius: 20px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: all 0.5s ease-out;
    margin-left: 25px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion:hover {
    background-color: #ffe591;
    transform: translate(0px, -3px);
    -webkit-box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
    -moz-box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
    box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
  }

  .accordion:after{
    content: "+";
    font-size: 25px;
    color: "black";
    margin-left: 5px;
    outline: none;
    border: none;
  }

  .accordion:focus {
    outline: none;
    border: none;
  }

  .accordion-active:after {
    content: "\2212";
    float: right;
    margin-left: 5px;
    outline: none;
    border: none;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-left: 25px;
    width: 90%;
    opacity: 1;
    animation: init-fade 0.7s linear;
  }

  .right--arrow {
    content: "\2192";
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-prompt {
  height: 55px;
}

.scroll-prompt-container {
  margin: auto;
  width: 55px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.scroll-prompt-container, .body--content, .body-introduction {
  animation: init-fade 1s linear;
}


body::-webkit-scrollbar {
    width: 15px;  /* for vertical scrollbars */
    height: 0px; /* for horizontal scrollbars */
}

body::-webkit-scrollbar-track {
    background: #e5e5e5;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}

body::-webkit-scrollbar-corner  {
    background: #d7e9fc;
}
