body {
    height: 100%;
    width: 99%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.research--main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #F0F0F0;
    box-sizing: border-box;
}

.research--body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.research--body img {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 10px; 
}


.research--title img {
    margin-right: 200px;
    width: 300px;
    height: 300px;
}




.research--content--text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.research--content--links {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-evenly;
    font-style: italic;
    margin-top: 10px;
}

.right--arrow {
    content: "\2192";

}

.research--content--cities {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;

}
.research--content--cities--text {
    width: 20vw;
    height: 500px;
    background-color: #E5EEFE;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}


.research--content--cities--text p {
    width: 80%;
    margin-left: 40px;
}





.research--content--stakeholder{
    width: 97%;
    height: 500px;
    background-color: #E5EEFE;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.accordion {
    background-color: #E5EEFE;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    border-radius: 20px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 25px;
    margin-bottom: 5px;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-left: 10px;
    width: 92%;
  }
