html{
    font-family: 'Poppins', sans-serif;
}

body {
    margin:0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-weight: bold;
    height: 10vh;
}

.header--title{
    justify-content: flex-start;
    background-color: pink;
    width: 30vw;  
    text-align: center;
    font-size: 1.5em;   
    height: 10vh;
}

.header--logo {
    width: 20vw;
    background-color: lightgreen;
    height: 10vh;
}

.header--menu {
    display: flex;
    justify-content: flex-end ;
    width: 50vw;
    flex-direction: row;
    height: 10vh;
}

.header--menu--tab1 {
    width: 25%;
    background-color: lightslategray;
    height: 100%;
    text-align: center;
}

.header--menu--tab2 {
    width: 25%;
    background-color: lightsalmon;
    height: 100%;
    text-align: center;
}

.header--menu--tab3 {
    width: 25%;
    background-color: lightseagreen;
    height: 100%;
    text-align: center;
}

.header--menu--tab4 {
    width: 25%;
    background-color: lightgoldenrodyellow;
    height: 100%;
    text-align: center; 
}

.body--introduction {
    margin-top: 10px;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.body--introduction--pic {
    width: 50%;
    background-color: lightsteelblue;
    height: 100%;
}

.body--introduction--text {
    width: 50%;
    background-color:mediumorchid;
    height: 100%;
}

.body--content {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    margin-top: 10px;
}

.body--content--main {
    width: 50vw;
    height: 50vh;
    background-color: mediumseagreen;
}

.body--content--faq {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: mistyrose;
}

.body--content--faq--tab {
    width: auto;
    background-color: olive;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 5px;
    height: 10%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-weight: bold;
    height: 10vh;
    background-color: midnightblue;
}

.footer--title{
    margin-top: 10px;
    justify-content: flex-start;
    background-color: pink;
    width: 30vw;  
    height: 5%;
}
